
.idea/vcs.xml
.idea/PhyreXAMP.iml
.idea/phpunit.xml
.idea/php.xml
.idea/modules.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/commandlinetools/Laravel_9_4_24__2_37PM.xml
